<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Felület</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; }
        table { width: 80%; margin: auto; border-collapse: collapse; }
        th, td { border: 1px solid black; padding: 10px; }
        form { margin-top: 20px; }
    </style>
</head>
<body>

    <h1>Játék Admin Felület</h1>

    <h2>Játékok</h2>

    <table>
        <tr>
            <th>Cím</th>
            <th>Leírás</th>
            <th>Ár</th>
        </tr>
        
            <% jatekok.forEach(game => { %>
                <tr>
                <td><%= game.jatek_nev %></td>
                <td><%= game.leiras %></td>
                <td><%= game.kategoria.kategoriak_ar %> Ft</td>
                </tr>
                <% }) %>
            </table>

        <form action="/dashboard-xyz123/torles" method="POST">
            <div id="keszites2">
                <label id="ummm">Játék törlése:</label>
                <select id="torolnivalo" name="torolni">
                    <option value="semmi" selected>-- Válaszd ki, amit törölni szeretnél --</option>
                    <% jatekok.forEach(jatek => { %>
                        <option value="<%= jatek.id %>" ><%= jatek.jatek_nev %></option>
                    <% }) %>
                </select>
                <!-- <input type="text" name="torolni"value='Alma'> -->
                <button type="submit">Játék törlése</button>
            </div>
        </form>

    <h2>Új játék hozzáadása</h2>
    <form action="/dashboard-xyz123/hozzaadas" method="POST">
        <input type="text" name="jatek_nev" placeholder="Név" required>
        <input type="text" name="leiras" placeholder="Leírás" required>
        <select name="kategoria">
            <option selected>-- Válaszd ki a kategóriát --</option>
            <% jatekok.forEach(kateg => {%>
                <option value="<%= kateg.kategoria_id %>"> <%= kateg.kategoria.kategoria %> (<%= kateg.kategoria.kategoriak_ar %> Ft) </option>
                <% }) %>
        </select>
        <button type="submit">Hozzáadás</button>
    </form>

</body>
</html>
