<%- include('admin') %>

<h2>Felhasználók</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Felhasználó</th>
        <th>Szerepkör</th>
    </tr>
    <% felhasznalok.forEach(felhasz => { %>
    <tr>
        <td><%= felhasz.id %></td>
        <td><%= felhasz.felhasznalo_nev %></td>
        <% if(felhasz.adminisztrator === 0){%>
        <td> Vásárló (0)</td>
        <%} else { %>
        <td> Adminisztrátor (1)</td>
        <% }%>
    </tr>
    <% }) %>
</table>

<h2>Felhasználó törlése</h2>
<form action="/dashboard-xyz123/felhasztorles" method="POST">
    <div>
        <select name="torolni">
            <option selected disabled>-- Válaszd ki, amit törölni szeretnél
                --</option>
            <% felhasznalok.forEach(felhasz => { %>
            <option value="<%= felhasz.id %>"><%= felhasz.felhasznalo_nev
                %></option>
            <% }) %>
        </select>
        <button type="submit">Felhasználó törlése</button>
    </div>
</form>

<h2>Új felhasználó hozzáadása manuálisan</h2>
<form action="/dashboard-xyz123/felhaszhozzaadas" method="POST">
    <input type="text" name="felhasz_nev" placeholder="Felhasználó neve"
        required>
    <input type="text" name="jelszo" placeholder="Jelszó" required>
    <select  name="admin">
        <option value="0">Vásárló</option>
        <option value="1">Adminisztrátor</option>
    </select>
    <button type="submit">Felhasználó hozzáadása</button>
</form>

<h2>Felhasználó adatainak módosítása</h2>
<form action="/dashboard-xyz123/felhaszfrissites" method="POST">
    <select id="felhasznaloSelect" name="frissiteni">
        <option selected disabled>-- Válaszd ki, amit módosítani szeretnél
            --</option>
        <% felhasznalok.forEach(felhasz => { %>
        <option value="<%= felhasz.id %>"
            data-felhasznev="<%= felhasz.felhasznalo_nev %>"
            data-admin="<%= felhasz.adminisztrator%>"
            data-jelszava="<%= felhasz.jelszo%>">

            <% if (felhasz.adminisztrator === 1) { %>
                <%= felhasz.id %> <%= felhasz.felhasznalo_nev %> Adminisztrátor (<%=
                felhasz.adminisztrator %>)
            <% } else { %>
                <%= felhasz.id %> <%= felhasz.felhasznalo_nev %> Vásárló (<%=
                felhasz.adminisztrator %>)
            <% } %>
        </option>
        <% }) %>
    </select>

    <input type="text" id="felhasz_nev2" name="felhasz_nev2" placeholder="Név"
        required>
    <input type="text" name="jelszomeg" id="jelszomeg" placeholder="Új jelszó">
    <select id="admin2" name="admin2">
        <option value="0">Vásárló</option>
        <option value="1">Adminisztrátor</option>
    </select>
    <button type="submit">Módosítás végrehajtása</button>
</form>

<script src="../login/src/js/felhasznalo.js"></script>