<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="output.css" rel="stylesheet">
  <title>Főoldal</title>
</head>

<body>
 
  <!-- Oldal tetejére gomb -->
  <button id="to-top-button" onclick="goToTop()" title="Go To Top" class="to-top-button">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon">
      <path d="M12 4l8 8h-6v8h-4v-8H4l8-8z" />
    </svg>
  </button>

  <nav class="navbar">
    <div class="navbar-container">

      <!-- Logo -->
      <a href="#" class="navbar-logo">
        <img src="pics/fooldal_logo_2-removebg-preview.png" alt="Logo" />
        <span>ByteShop</span>
      </a>

      <!-- Kereső menü -->
      <div class="search-menu">
       <form action="/kereses" method="POST">
         <div class="search-input-container">
           <input placeholder="Keresés..." class="search-input" name="search" id="keresomezo"/> <button type="submit" id="searchbutton">Keresés</button>
         </div>
       </form>
       
      </div>
      
      <!-- Bevásárlókosár gomb --> 
      <a href="#" class="cart-button">
        <svg class="cart-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l1.38-6H6.62l-.92-4H3m4 6h11l1.38-6H6.62m0 0L7 13m2 6h8m-8 0a2 2 0 11-4 0m12 0a2 2 0 11-4 0" />
        </svg>
      </a>

      <!-- Menüpontok -->
      <div class="navbar-menu">
        <ul class="menu-list">
          <li><a onclick="goToFooter()">Rólunk</a></li>
          <li><a href="#hirek">Hírek</a></li>
          <li><a href="#termekek">Termékek</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn" id="felhasz"></a>
            <div class="dropdown-content">
              <a href="../login/login.html" id="log">Bejelentkezés</a>
              <a href="../login/register.html" id="reg">Regisztráció</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    <section class="hero">
      <div class="hero-container">
        <div class="hero-content">
          <h1 class="hero-title">
            Üdvözlünk a <span class="highlight">ByteShop</span> oldalán.
          </h1>
          <p class="hero-description">
            Merülj el a gaming univerzumában! Weboldalunkon megtalálsz mindent, amire egy gamer vágyhat: a legújabb videojátékok, izgalmas hírek és friss tartalmak várnak rád.
          </p>
          <button class="cta-button" onclick="goToGames()">Kezdjünk bele!</button>
        </div>
        <div class="hero-image">
          <img src="pics/hero_section_img.png" alt="">
        </div>
      </div>
    </section>

    <section class="products">
      <%if(jatekok && jatekok.length > 0){ %>
      <h2 class="section-title" id="section-title">Játékaink</h2>
      <div class="product-list">
        <% jatekok.forEach(game => { %>
        
          <div class="product-card">
            <img class="cover" src="pics/game-49.png">
            <h3><%= game.jatek_nev %></h3>
            <p><%= game.leiras %></p>
            <span class="price">Ár: <%= game.kategoria.kategoriak_ar %> Ft</span>
          </div>
          <% }) %>
          <% } %>
        </div>
    </section>




    <!-- Keresett játékok megjelenítése -->
    <section class="products">
      <a href="#products"></a>
      <%if(keresett && keresett.length > 0){ %>
        <h2 class="section-title" id="keresescim">Kiböngészett játékok</h2>
      <div class="product-list" id="kereses">     
        <% keresett.forEach(talalat => { %>
          <div class="product-card">
            <img class="cover" src="pics/game-49.png">
            <h3><%= talalat.jatek_nev %></h3>
            <p><%= talalat.leiras %></p>
            <span class="price">Ár: <%= talalat.kategoria.kategoriak_ar %> Ft</span>
          </div>
          <% }) %>
          <% } else if(keresett.length == 0) { %>
            <h2 class="section-title">Nincs találat a keresésre.</h2>
          <% } %>
      </div>
    </section>


  </main>

  <footer class="footer" id="footer">
    <a href="#" class="footer-logo">
      <img src="pics/fooldal_logo_2-removebg-preview.png" alt="logo">
      ByteShop
    </a>
    <span class="footer-copy">&copy; 2024-2025 ByteShop™. Minden jog fenttartva.</span>
  </footer>

  
  <script src="fooldal.js"></script>
</body>

</html>
